.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: 150px;
  font-weight: bold;
  color: white;
}

.body {
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
}

.search-bar {
  background-color: white; 
  font-size: 20px;
}

.info {
  color: white;
  background-color: #282c34;
  border-width: 2cm;
  border-color: white;
}
.note {
  color: white;
  font-size: 12px;
}
.table, th, tr, td{
  color: white;
  border: 1px solid white;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.end {
  color: white;
  font-weight: bold;
}
